<p id="notice"><%= notice %></p>

<div class="header-container">
  <div class="page-header">
    <div class="page-header_content">
      <h1>Softwares</h1>
    </div>
  </div>
</div>

<main class="softwares-main">
  <section class="softwares">
    <% @softwares.each do |software| %>
    <div class="software_card">
        <img src="<%=software.image_url%>" style="min-height:258px; min-width:258px;" alt="logo">
        <a href="softwares/<%=software.id%>/edit"><i class="fas fa-pen"></i></a>
      <div class="software_card-content">
        <!-- <a class="card_link" href="<%#= "/softwares/#{software.id}/edit" %>"> -->
          <div class="software_card-header">
            <div class="software_card-header__primmary">
              <div class="software_category">
                <span class="badge bg-<%=software.category.image_url%>"><%= software.category.name %></span>
              </div>
              <h3 class="software_name"><%= software.name %></h3>
            </div>
          </div>
          <div class="software_card-body">
            <%= software.content %>
          </div>
          <div class="my-card-button">
              <a target=”_blank” href="<%= software.site%>" class="btn btn-primary"> Ver Site</a>
          </div>
        <!-- </a> -->
      </div>

    </div>
    <% end %>

    <div class="software_card">
        <img src="http://www.shoppingdopapel.com.br/images/products/empty.png" style="min-height:258px; min-width:258px;" alt="logo">
      <div class="software_card-content">
        <!-- <a class="card_link" href="<%#= "/softwares/#{software.id}/edit" %>"> -->
          <div class="software_card-header">
            <div class="software_card-header__primmary">
              <div class="software_category">
                <span class="badge bg-dark">Criador</span>
              </div>
              <h3 class="software_name">Criar Software</h3>
            </div>
          </div>
          <div class="software_card-body">
            Clique no botão abaixo para cadastrar um software
          </div>
          <div class="my-card-button">
              <%= link_to 'New Software', new_software_path, class:'btn btn-primary' %>
          </div>
        <!-- </a> -->
      </div>
    </div>

  </section>
</main>
